<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org">
<!-- 共通headerで置き換える -->

<head th:replace="common :: meta_header('社員情報画面 社員新規登録',~{::link},~{::script})">
    <!-- このページ固有で読み込むCSS/JS -->
    <title>入社連絡票登録</title>
</head>

<body>
<!-- common.html -->
<div th:replace="common :: header"></div>

<!-- Page Content -->
<div>
    <h1 class="mt-2 mb-3" style="text-align: center">入社連絡票登録</h1>
    <form method="post" th:action="@{/createDetail}" th:object="${userDetailForm}">
        <table align="center" class="table table-striped table-bordered" valign="center">
            <tbody style="width:1000px;">
            <tr>
                <td class="column" colspan="2">フリガナ</td>
                <td class="value" colspan="2">
                    <div class="form-group" th:classappend="${#fields.hasErrors('furigana')} ? 'has-error'">
                        <input class="form-control" th:field="*{furigana}" type="text"/>
                        <span class="text-danger" th:errors="*{furigana}"
                              th:if="${#fields.hasErrors('furigana')}"></span>
                    </div>
                </td>
                <td class="column" colspan="2">生年月日<br>（西暦）</td>
                <td class="value" colspan="2">
                    <div class="form-group" th:classappend="${#fields.hasErrors('birthday')} ? 'has-error'">
                        <input class="form-control" th:field="*{birthday}" type="text"/>
                        <span class="text-danger" th:errors="*{birthday}"
                              th:if="${#fields.hasErrors('birthday')}"></span>
                    </div>
                </td>
                <td class="column" colspan="1">性別</td>
                <td class="value" colspan="1">
                    <div class="form-group" th:classappend="${#fields.hasErrors('sex')} ? 'has-error'">
                        <input class="form-control" th:field="*{sex}" type="text"/>
                        <span class="text-danger" th:errors="*{sex}" th:if="${#fields.hasErrors('sex')}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="column" colspan="2">氏名</td>
                <td class="value" colspan="2">
                    <input class="form-control" type="text"/>
                </td>
                <td class="column" colspan="2">氏名（英語）</td>
                <td class="column">（名）</td>
                <td class="value">
                    <div class="form-group" th:classappend="${#fields.hasErrors('firstname')} ? 'has-error'">
                        <input class="form-control" th:field="*{firstname}" type="text"/>
                        <span class="text-danger" th:errors="*{firstname}"
                              th:if="${#fields.hasErrors('firstname')}"></span>
                    </div>
                </td>
                <td class="column">（姓）</td>
                <td class="value">
                    <div class="form-group" th:classappend="${#fields.hasErrors('lastname')} ? 'has-error'">
                        <input class="form-control" th:field="*{lastname}" type="text"/>
                        <span class="text-danger" th:errors="*{lastname}"
                              th:if="${#fields.hasErrors('lastname')}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="column" colspan="2">住所</td>
                <td class="value" colspan="8">
                    <div class="form-group" th:classappend="${#fields.hasErrors('postcode')} ? 'has-error'">
                        <input class="form-control" th:field="*{postcode}" type="text"/>
                        <span class="text-danger" th:errors="*{postcode}"
                              th:if="${#fields.hasErrors('postcode')}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="column" colspan="2"></td>
                <td class="value" colspan="8">
                    <div class="form-group" th:classappend="${#fields.hasErrors('address')} ? 'has-error'">
                        <input class="form-control" th:field="*{address}" type="text"/>
                        <span class="text-danger" th:errors="*{address}" th:if="${#fields.hasErrors('address')}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="column" colspan="2">携帯</td>
                <td class="value" colspan="3">
                    <div class="form-group" th:classappend="${#fields.hasErrors('phone')} ? 'has-error'">
                        <input class="form-control" th:field="*{phone}" type="text"/>
                        <span class="text-danger" th:errors="*{phone}" th:if="${#fields.hasErrors('phone')}"></span>
                    </div>
                </td>
                <td class="column" colspan="2">個人メール</td>
                <td class="value" colspan="3">
                    <div class="form-group" th:classappend="${#fields.hasErrors('mail')} ? 'has-error'">
                        <input class="form-control" th:field="*{mail}" type="text"/>
                        <span class="text-danger" th:errors="*{mail}" th:if="${#fields.hasErrors('mail')}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="column" colspan="2">在留資格</td>
                <td class="value" colspan="1">
                    <div class="form-group" th:classappend="${#fields.hasErrors('stay')} ? 'has-error'">
                        <input class="form-control" th:field="*{stay}" type="text"/>
                        <span class="text-danger" th:errors="*{stay}" th:if="${#fields.hasErrors('stay')}"></span>
                    </div>
                </td>
                <td class="column" colspan="1">在留期間</td>
                <td class="value" colspan="1">
                    <div class="form-group" th:classappend="${#fields.hasErrors('time')} ? 'has-error'">
                        <input class="form-control" th:field="*{time}" type="text"/>
                        <span class="text-danger" th:errors="*{time}" th:if="${#fields.hasErrors('time')}"></span>
                    </div>
                </td>
                <td class="column" colspan="1">有効期限</td>
                <td class="value" colspan="1">
                    <div class="form-group" th:classappend="${#fields.hasErrors('limit')} ? 'has-error'">
                        <input class="form-control" th:field="*{limit}" type="text"/>
                        <span class="text-danger" th:errors="*{limit}" th:if="${#fields.hasErrors('limit')}"></span>
                    </div>
                </td>
                <td class="column" colspan="1">国籍</td>
                <td class="value" colspan="3">
                    <div class="form-group" th:classappend="${#fields.hasErrors('contory')} ? 'has-error'">
                        <input class="form-control" th:field="*{contory}" type="text"/>
                        <span class="text-danger" th:errors="*{contory}" th:if="${#fields.hasErrors('contory')}"></span>
                    </div>
                </td>
            </tr>


            </tbody>
        </table>
        <div class="text-right">
            <button class="btn btn-primary mb-3" type="submit">登録</button>
        </div>
    </form>
</div>
<!-- /container -->
<div th:replace="common :: scripts"></div>
<style>
    .table {
        border-collapse: collapse;
        border-spacing: 0;
        background-color: transparent;
        display: table;
        width: 1000px;
        margin: 0 auto;
    }

    .table td {
        text-align: center;
        vertical-align: middle;
        font-size: 14px;
        font-family: 'Arial Normal', 'Arial';
        color: #333333;
        padding: 8px 12px;
        margin: 0 auto;
    }

    .table-bordered {
        border: 1px solid #ddd;
    }

    * {
        margin: 0px;
        padding: 0px;
    }

    .column {

        border: 1px solid #333;
        background: #f1f1f1;
    }

    .value {

        border: 1px solid #333;
    }
</style>
</body>

</html>