<!DOCTYPE html>
<html lang="ja" xmlns:sec="http//www.themeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<!-- 共通headerで置き換える -->

<head th:replace="common :: meta_header('社員情報画面 メニュー選択',~{::link},~{::script})">
    <!-- このページ固有で読み込むCSS/JS -->
    <title>メニュー選択</title>

</head>

<body>
<!-- common.html -->
<div th:replace="common :: header"></div>

<!-- Page Content -->
<!-- メニュー選択画面 -->
<div class="container mt-4" id="menu">
    <div class="d-flex flex-column">
        <h2 class="text-secondary">休暇情報</h2>
        <div class="form-inline">
            <form method="post" th:action="@{/vacationApp}">
                <button class="btn btn-info  ml-3 form-group" type="submit">休暇申請</button>
            </form>

            <form method="post" th:action="@{/vacationAppList}">
                <button class="btn btn-success ml-3 form-group text-white" type="submit">休暇申請一覧</button>
            </form>
        </div>
        <div class="mt-4">
            <h2 class="text-secondary">社員情報</h2>
            <div class="form-inline">
                <form method="post" sec:authorize="hasRole('ADMIN')" th:action="@{/userList}">
                    <button class="btn btn-info ml-3 form-group" type="submit">社員情報一覧</button>
                </form>
                <form method="post" sec:authorize="hasRole('ADMIN')" th:action="@{/userRegister}">
                    <button class="btn btn-success ml-3 form-group" type="submit">社員新規登録</button>
                </form>
                <form method="post" th:action="@{/changePass}">
                    <button class="btn btn-primary ml-3 form-group" type="submit">パスワード変更</button>
                </form>
                <form sec:authorize="hasRole('GENERAL')"  th:action="@{/contact}" 　　method="post">
                    <button class="btn btn-primary ml-3 form-group" type="submit">入社連絡票登録</button>
                </form>
                <form method="post" sec:authorize="hasRole('ADMIN')" th:action="@{/resetPass}">
                    <button class="btn btn-secondary ml-3 form-group" type="submit">パスワード初期化</button>
                </form>
            </div>
        </div>
        <div class="mt-4">
            <h2 class="text-secondary">交通費情報</h2>
            <div class="form-inline">
                <form method="post" th:action="@{/transportCostApp}">
                    <button class="btn btn-info  ml-3 form-group" type="submit">交通費申請</button>
                </form>
                <form method="post" sec:authorize="hasRole('ADMIN')" th:action="@{/transportCostList}">
                    <button class="btn btn-success ml-3 form-group text-white" type="submit">交通費申請一覧</button>
                </form>
                <form method="post"  th:action="@{/transportCostList3}">
                    <button class="btn btn-success ml-3 form-group text-white" type="submit">交通費一覧</button>
                </form>
            </div>
        </div>
        <div class="mt-4">
            <h2 class="text-secondary">勤務表情報</h2>
            <div class="form-inline">
                <form method="post" th:action="@{/workschedule/app}">
                    <button class="btn btn-info  ml-3 form-group" type="submit">勤務表提出</button>
                </form>
                <form method="post" th:action="@{/workschedule/list}">
                    <button class="btn btn-success ml-3 form-group text-white" type="submit">勤務表一覧</button>
                </form>
            </div>
        </div>
        <div class="mt-4">
            <h2 class="text-secondary">就業規則情報</h2>
            <a class="btn btn-info  ml-3 form-group" target="_blank"
               th:href="@{docs/就業規則_株式会社シーメイプル.pdf}">就業規則閲覧</a>
        </div>
    </div>
</div>
<!-- /container -->
<div th:replace="common :: scripts"></div>
</body>

</html>