* {
  box-sizing: border-box;
}

.container {
  // margin: 40px auto;
  padding: 14px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 2px 2px 5px 0px rgba(200, 200, 200, 1);
  font-family: "Times New Roman";
}

.mobile {
  button {
    font-size: 10px;
    padding: -5px;
  }

  img {
    width: 50px;
    height: 30px;
  }

  .navId {
    font-size: 14px;
  }

  .navName {
    font-size: 14px;
  }
}
